{
    "data-root": "{{ vagrant_docker_data_root }}",
    "log-driver": "{{ vagrant_docker_log_driver }}",
    "log-opts": {
        "max-file": "{{ vagrant_docker_log_max_file }}",
        "max-size": "{{ vagrant_docker_log_max_size }}"
    }
}
