{
    "data-root": "{{ docker_engine_data_root }}",
    "log-driver": "{{ docker_engine_log_driver }}",
    "log-opts": {
        "max-file": "{{ docker_engine_log_max_file }}",
        "max-size": "{{ docker_engine_log_max_size }}"
    }
}
